<div id='contenu'>
    <h3>Confirmation de report : </h3>
    <div class="encadre">
        <p class="p">
            Le frais hors forfait a été reporté d'un mois avec succès.
        </p>
    </div>
</div>